#!/usr/bin/make -f

# export DH_VERBOSE=1
export PYBUILD_NAME=bokeh
PYBUILD_TEST_PYTEST=1

PYTHON2_VERSIONS := $(shell pyversions -r)
PYTHON3_VERSIONS := $(shell py3versions -r)
PY2_DEFAULT := $(shell pyversions -d)
PY3_DEFAULT := $(shell py3versions -d)

%:
	dh $@ --with python2,python3,linktree --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install

	# Build common package for web resources
	mkdir -p $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/
	mv $(CURDIR)/debian/python3-bokeh/usr/lib/$(PY3_DEFAULT)/dist-packages/bokeh/server/static \
	   $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/
	# we should remove upstream min.js. but should we build our own?
	# should debian libjs-boostrap build it?
	rm $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/static/bootstrap/js/bootstrap.min.js

	# Clean up python2 package
	mv $(CURDIR)/debian/python-bokeh/usr/bin/bokeh-server \
           $(CURDIR)/debian/python-bokeh/usr/bin/bokeh2-server
	mv $(CURDIR)/debian/python-bokeh/usr/bin/websocket_worker.py \
           $(CURDIR)/debian/python-bokeh/usr/bin/websocket2_worker
	rm -rf $(CURDIR)/debian/python-bokeh/usr/lib/python2*/dist-packages/bokeh/server/static

	# Clean up python3 package
	mv $(CURDIR)/debian/python3-bokeh/usr/bin/bokeh-server \
           $(CURDIR)/debian/python3-bokeh/usr/bin/bokeh3-server
	mv $(CURDIR)/debian/python3-bokeh/usr/bin/websocket_worker.py \
           $(CURDIR)/debian/python3-bokeh/usr/bin/websocket3_worker
