#!/usr/bin/make -f

# export DH_VERBOSE=1
export PYBUILD_NAME=bokeh
PYBUILD_TEST_PYTEST=1

PYTHON2_VERSIONS := $(shell pyversions -r)
PYTHON3_VERSIONS := $(shell py3versions -r)
PY2_DEFAULT := $(shell pyversions -d)
PY3_DEFAULT := $(shell py3versions -d)

%:
	dh $@ --with python3,linktree --buildsystem=pybuild


override_dh_auto_install:
	dh_auto_install

	# Build common package for web resources
	mkdir -p $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/
	mv $(CURDIR)/debian/python3-bokeh/usr/lib/$(PY3_DEFAULT)/dist-packages/bokeh/server/static \
	   $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/
	ln -s $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/static \
	   $(CURDIR)/debian/python3-bokeh/usr/lib/$(PY3_DEFAULT)/dist-packages/bokeh/server/static
	# we should remove upstream min.js. but should we build our own?
	# should debian libjs-boostrap build it?
	# rm $(CURDIR)/debian/python-bokeh-common/usr/share/bokeh/static/bootstrap/js/bootstrap.min.js
